.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.divSide {
  margin-bottom: 150px;
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .divSide {
    height: 100vh;
    width: 30%;
    padding-left: 150px;
    margin-right: 30px;
    background-color: var(--green-pallet-four);
  }

  .divMain {
    width: 70%;
    margin-top: 80px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
